<div class="flex justify-center py-8 md:py-24">
    <div class="container flex flex-col items-center justify-center text-cod-gray-950 space-y-16">

        <div class="grid grid-cols-2 lg:grid-cols-4 gap-y-5 lg:gap-y-0 w-full gap-x-5">
            <a href="<%= locale %>dashboard/pemesanan" class="border border-cod-gray-200 rounded-sm flex flex-col justify-center items-center p-8 lg:p-12 space-y-4 cursor-pointer hover:drop-shadow-md bg-white-50">
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Shopping cart" clip-path="url(#clip0_44_34)">
                    <path id="Vector" d="M51.8333 43.3333C54.3333 43.3333 56.5332 41.9667 57.6666 39.9L69.5999 18.2667C70.8332 16.0667 69.2333 13.3333 66.6999 13.3333H17.3666L14.2333 6.66667H3.33325V13.3333H9.99992L21.9999 38.6333L17.4999 46.7667C15.0666 51.2333 18.2666 56.6667 23.3333 56.6667H63.3333V50H23.3333L26.9999 43.3333H51.8333ZM20.5333 20H61.0332L51.8333 36.6667H28.4333L20.5333 20ZM23.3333 60C19.6666 60 16.6999 63 16.6999 66.6667C16.6999 70.3333 19.6666 73.3333 23.3333 73.3333C26.9999 73.3333 29.9999 70.3333 29.9999 66.6667C29.9999 63 26.9999 60 23.3333 60ZM56.6666 60C52.9999 60 50.0333 63 50.0333 66.6667C50.0333 70.3333 52.9999 73.3333 56.6666 73.3333C60.3333 73.3333 63.3333 70.3333 63.3333 66.6667C63.3333 63 60.3333 60 56.6666 60Z" fill="#333333"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_44_34">
                    <rect width="80" height="80" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>     
                <span class="text-[1rem] text-cod-gray-300 text-center">Pemesanan Tiket</span>               
            </a>

            <a href="<%= locale %>dashboard/riwayat-pemesanan" class="border border-cod-gray-200 rounded-sm flex flex-col justify-center items-center p-8 lg:p-12 space-y-4 cursor-pointer hover:drop-shadow-md bg-white-50">
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_44_52)">
                    <path d="M23.3333 50H46.6667V56.6667H23.3333V50ZM23.3333 36.6667H56.6667V43.3333H23.3333V36.6667ZM23.3333 23.3333H56.6667V30H23.3333V23.3333ZM63.3333 9.99999H49.4C48 6.13333 44.3333 3.33333 40 3.33333C35.6667 3.33333 32 6.13333 30.6 9.99999H16.6667C16.2 9.99999 15.7667 10.0333 15.3333 10.1333C14.0333 10.4 12.8667 11.0667 11.9667 11.9667C11.3667 12.5667 10.8667 13.3 10.5333 14.1C10.2 14.8667 10 15.7333 10 16.6667V63.3333C10 64.2333 10.2 65.1333 10.5333 65.9333C10.8667 66.7333 11.3667 67.4333 11.9667 68.0667C12.8667 68.9667 14.0333 69.6333 15.3333 69.9C15.7667 69.9667 16.2 70 16.6667 70H63.3333C67 70 70 67 70 63.3333V16.6667C70 13 67 9.99999 63.3333 9.99999ZM40 9.16666C41.3667 9.16666 42.5 10.3 42.5 11.6667C42.5 13.0333 41.3667 14.1667 40 14.1667C38.6333 14.1667 37.5 13.0333 37.5 11.6667C37.5 10.3 38.6333 9.16666 40 9.16666ZM63.3333 63.3333H16.6667V16.6667H63.3333V63.3333Z" fill="#333333"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_44_52">
                    <rect width="80" height="80" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                <span class="text-[1rem] text-cod-gray-300 text-center">Riwayat Pemesanan</span>               
            </a>

            <a href="<%= locale %>tiket" class="border border-cod-gray-200 rounded-sm flex flex-col justify-center items-center p-8 lg:p-12 space-y-4 cursor-pointer hover:drop-shadow-md bg-white-50">
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_44_58)">
                    <path d="M36.6667 56.6667H43.3334V53.3333H46.6667C48.5001 53.3333 50.0001 51.8333 50.0001 50V40C50.0001 38.1667 48.5001 36.6667 46.6667 36.6667H36.6667V33.3333H50.0001V26.6667H43.3334V23.3333H36.6667V26.6667H33.3334C31.5001 26.6667 30.0001 28.1667 30.0001 30V40C30.0001 41.8333 31.5001 43.3333 33.3334 43.3333H43.3334V46.6667H30.0001V53.3333H36.6667V56.6667ZM66.6667 13.3333H13.3334C9.63341 13.3333 6.70008 16.3 6.70008 20L6.66675 60C6.66675 63.7 9.63341 66.6667 13.3334 66.6667H66.6667C70.3667 66.6667 73.3334 63.7 73.3334 60V20C73.3334 16.3 70.3667 13.3333 66.6667 13.3333ZM66.6667 60H13.3334V20H66.6667V60Z" fill="#333333"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_44_58">
                    <rect width="80" height="80" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                <span class="text-[1rem] text-cod-gray-300 text-center">Daftar Harga Tiket</span>               
            </a>

            <a href="<%= locale %>faq" class="border border-cod-gray-200 rounded-sm flex flex-col justify-center items-center p-8 lg:p-12 space-y-4 cursor-pointer hover:drop-shadow-md bg-white-50">
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_44_61)">
                    <path d="M50.0001 13.3333V36.6667H17.2334L15.2667 38.6333L13.3334 40.5667V13.3333H50.0001ZM53.3334 6.66667H10.0001C8.16675 6.66667 6.66675 8.16667 6.66675 10V56.6667L20.0001 43.3333H53.3334C55.1667 43.3333 56.6667 41.8333 56.6667 40V10C56.6667 8.16667 55.1667 6.66667 53.3334 6.66667ZM70.0001 20H63.3334V50H20.0001V56.6667C20.0001 58.5 21.5001 60 23.3334 60H60.0001L73.3334 73.3333V23.3333C73.3334 21.5 71.8334 20 70.0001 20Z" fill="#333333"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_44_61">
                    <rect width="80" height="80" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>                    
                <span class="text-[1rem] text-cod-gray-300 text-center">Informasi & Bantuan</span>               
            </a>
        </div>

        <div class="border border-cod-gray-200 rounded-sm p-10">
            <h6 class="font-semibold text-[1.8rem] text-center mb-8">Informasi Terbaru</h6>
            <%- latest_information.body %>
        </div>

    </div>
</div>